<footer class="py-4 mt-auto" style="background-color: #1A5276; position: relative;">
    <div class="container text-center">
        <p class="mb-2 text-white">&copy; 2024 Pokéa. All rights reserved.</p>
        <div class="d-flex justify-content-center gap-3">
            <img src="/images/visa.svg" alt="Visa" title="Visa" class="payment-icon" style="height: 24px; filter: brightness(0) invert(1);">
            <img src="/images/mastercard.svg" alt="Mastercard" title="Mastercard" class="payment-icon" style="height: 24px; filter: brightness(0) invert(1);">
            <img src="/images/amex.svg" alt="American Express" title="American Express" class="payment-icon" style="height: 24px; filter: brightness(0) invert(1);">
            <img src="/images/paypal.svg" alt="PayPal" title="PayPal" class="payment-icon" style="height: 24px; filter: brightness(0) invert(1);">
        </div>
    </div>
</footer> 