<footer>
    <div class="footer-content">
        <p>&copy; 2024 Pokéa. All rights reserved.</p>
        <div class="payment-methods">
            <img src="/images/visa.svg" alt="Visa" title="Visa">
            <img src="/images/mastercard.svg" alt="Mastercard" title="Mastercard">
            <img src="/images/amex.svg" alt="American Express" title="American Express">
            <img src="/images/paypal.svg" alt="PayPal" title="PayPal">
        </div>
    </div>
</footer> 